<script type="text/template" id="productoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Tipo</th>
		 <th>¿Es Perecedero?</th>
		 <th>Precio Promedio</th>
		 <th>Tiempo de espera promedio</th>
		 <th>Cantidad promedio a pedir</th>
		 <th>M&iacute;nimo nivel en el inventario</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(productos, function(producto) { %>
    <tr>
		<td><%= htmlEncode(producto.getDisplay('name')) %></td>
		<td><%= htmlEncode(producto.getDisplay('tipo')) %></td>
		<td><%= htmlEncode(producto.getDisplay('esPerecedero')) %></td>
		<td><%= htmlEncode(producto.getDisplay('precioPromedio')) %></td>
		<td><%= htmlEncode(producto.getDisplay('tiempoPromedioEspera')) %></td>
		<td><%= htmlEncode(producto.getDisplay('cantidadPromedioAPedir')) %></td>
		<td><%= htmlEncode(producto.getDisplay('minimoNivelInventario')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-producto-edit',{id:<%= producto.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-producto-delete',{id:<%= producto.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="producto">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productoForm">
    <% if(producto.id) {%>
    <input type="hidden" name="id" value="<%= producto.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre" value="<%= producto.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tipo">Tipo</label>
    	<select class="form-control" id="tipo" name="tipo">
            <option  <%= producto.get('tipo')=='Materia Prima'?'selected':'' %> >Materia prima</option>
            <option  <%= producto.get('tipo')=='Producto terminado'?'selected':'' %>>Producto terminado</option>
            <option  <%= producto.get('tipo')=='Suministro'?'selected':'' %>>Suministro</option>
        </select>	
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="¿Es Perecedero?" name="esPerecedero" value="true" type="checkbox" <%= producto.get('esPerecedero')?'checked':'' %>> ¿Es Perecedero?
    	</label>
		</div>
		<div class="form-group" >
		<label for="precioPromedio">Precio Promedio (en pesos)</label>
    	<input type="text" class="form-control" id="precioPromedio" name="precioPromedio" placeholder="Ingrese el valor en pesos" value="<%= producto.get('precioPromedio') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tiempoPromedioEspera">Tiempo Promedio de Espera (en días)</label>
    	<input type="text" class="form-control" id="tiempoPromedioEspera" name="tiempoPromedioEspera" placeholder="Ingrese la cantidad de días" value="<%= producto.get('tiempoPromedioEspera') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadPromedioAPedir">Cantidad Promedio a Pedir</label>
    	<input type="text" class="form-control" id="cantidadPromedioAPedir" name="cantidadPromedioAPedir" placeholder="Ingrese la cantidad" value="<%= producto.get('cantidadPromedioAPedir') %>"/>	
		</div>
		<div class="form-group" >
		<label for="minimoNivelInventario">M&iacute;nima cantidad en el inventario</label>
    	<input type="text" class="form-control" id="minimoNivelInventario" name="minimoNivelInventario" placeholder="Ingrese la cantidad" value="<%= producto.get('minimoNivelInventario') %>"/>	
		</div>
    </form>
    </div>
</script> 