<script type="text/template" id="proveedorList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>E-Mail</th>
		 <th>Tel&eacute;fono</th>
		 <th>Direcci&oacute;n</th>
		 <th>Observaciones</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(proveedors, function(proveedor) { %>
    <tr>
		<td><%= htmlEncode(proveedor.getDisplay('name')) %></td>
		<td><%= htmlEncode(proveedor.getDisplay('email')) %></td>
		<td><%= htmlEncode(proveedor.getDisplay('telefono')) %></td>
		<td><%= htmlEncode(proveedor.getDisplay('direccion')) %></td>
		<td><%= htmlEncode(proveedor.getDisplay('observaciones')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-proveedor-edit',{id:<%= proveedor.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-proveedor-delete',{id:<%= proveedor.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="proveedor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-proveedorForm">
    <% if(proveedor.id) {%>
    <input type="hidden" name="id" value="<%= proveedor.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= proveedor.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="email">E-Mail</label>
    	<input type="text" class="form-control" id="email" name="email" placeholder="" value="<%= proveedor.get('email') %>"/>	
		</div>
		<div class="form-group" >
		<label for="telefono">Tel&eacute;fono</label>
    	<input type="text" class="form-control" id="telefono" name="telefono" placeholder="" value="<%= proveedor.get('telefono') %>"/>	
		</div>
		<div class="form-group" >
		<label for="direccion">Direcci&oacute;n</label>
    	<input type="text" class="form-control" id="direccion" name="direccion" placeholder="" value="<%= proveedor.get('direccion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="observaciones">Observaciones</label>
    	<input type="text" class="form-control" id="observaciones" name="observaciones" placeholder="" value="<%= proveedor.get('observaciones') %>"/>	
		</div>
    </form>
    </div>
</script> 